<footer class="footer">
      <div>
        <img src="./images/logo.png" alt="логотип сайта" class="footer__logo-image">
        <p>Первый в Минске музей, полностью посвящённый удивительному миру домашних кошек и их истории.</p>
      </div>
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-list-item">
            <a href="../index.html" class="footer__menu-link footer__menu-link_active">Главная</a>
          </li>
          <li class="footer__menu-list-item">
            <a href="../cats.html" class="footer__menu-link">Наши котики</a>
          </li>
          <li class="footer__menu-list-item">
            <a href="../visit.html" class="footer__menu-link">Посетителям</a>
          </li>
          <li class="footer__menu-list-item">
            <a href="../help.html" class="footer__menu-link">Помощь котам</a>
          </li>
          <li class="footer__menu-list-item">
            <a href="../contacts.html" class="footer__menu-link">Контакты</a>
          </li>
        </ul>
      </nav>
      <address class="address">
        <p>Контакты:</p>
        <a href="tel:+375296423183">+375 29 642-31-83</a>
        <br>
        <a href="mailto:catmuseumby@gmail.com">catmuseumby@gmail.com</a>
        <br> 
        <p>г. Минск, ул. Интернациональная, 23</p>
      </address>
</footer>