<header class="header">
      <img src="./images/logo.png" alt="логотип сайта" class="header__logo-image">
      <nav class="header__menu">
        <ul class="header__links-list">
          <li class="header__links-list-item header__links-list-item_no-bullit">
            <a href="../index.html" class="header__link header__link_active">Главная</a>
          </li>
          <li class="header__links-list-item">
            <a href="../cats.html" class="header__link">Наши котики</a>
          </li>
          <li class="header__links-list-item">
            <a href="../visit.html" class="header__link">Посетителям</a>
          </li>
          <li class="header__links-list-item">
            <a href="../help.html" class="header__link">Помощь котам</a>
          </li>
          <li class="header__links-list-item">
            <a href="../contacts.html" class="header__link">Контакты</a>
          </li>
        </ul>
      </nav>
</header>