/* Футер */
.footer {
  background: #333;
  color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
  justify-items: end;
}

.address a,
.address p {
  text-decoration: none;
  font-style: normal;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__menu-link:hover {
  color: #FF5900;
}

.footer__menu-link_active {
  color: #FF5900;
}

.footer__logo-image {
  height: 80px;
}

@media (max-width: 1024px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
    justify-items: center
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }
}